<!-- Container -->
<div id="container">

  <!-- leftTools -->
  <div id="leftTools">
    <!-- <button class="leftTool_btn" ng-click="clear()" id="clear">Clear</button> -->
  </div>
  <!-- END leftTools -->

  <!-- centerCanvas -->
  <div id="centerCanvas">
    <table>
      <tr>
        <td>
          <canvas id="theCanvas" drawing width="700" height="500">
            <p> Your Browser does not support canvas Please try Firefox, Chrome, Opera or Safari</p>
          </canvas>
        </td>
      </tr>
    </table>
  </div>
  <!-- END centerCanvas -->

  <!-- rightInfo -->
  <div id="rightInfo">
  </div>
  <!-- END rightInfo -->

</div>
<!-- END Container -->